h1{
    text-align: center;
}
.heading{
  display:flex;
  flex-direction: column;
  align-items: center; 


}

button{
    border-radius: 15px;
    width: 100px;
   

   
}

.color{
   
   margin:auto;
   border: 2px solid black;
    height: 200px;
    width: 400px;
    position: relative;

}

.generator{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top:100px;
    height: 500px;
   
    
}